<a href="https://colab.research.google.com/github/AmiMunshi/Python-programs/blob/master/Tuple_and_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating a tuple
colours= ('blue', 'yellow', 'orange', 'red')
print(colours)

('blue', 'yellow', 'orange', 'red')

In [ ]:
print(colours[1])

yellow

In [ ]:
#  Program 1 Iterate over a tuple and find length of each word
tuple1= ('sad','angry', 'happy', 'anxious', 'greedy','excited')
for word in tuple1:
  print(word,len(word))

sad 3
angry 5
happy 5
anxious 7
greedy 6
excited 7

In [ ]:
#Program 3 Unpack tuple in different variables

a,b,c,d= colours
print(a)
print(b)

blue
yellow

In [ ]:
#Program 2 Replace last value of tuples in the list
list1= [(10,20,30),(40,50,60),(70,80,90)]
print([t[:-1]+(100,) for t in list1])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
for t in list1:
  print (t[:-1]+(100,))
  print(type(t[:-1]),type((100,)))

(10, 20, 100)
<class 'tuple'> <class 'tuple'>
(40, 50, 100)
<class 'tuple'> <class 'tuple'>
(70, 80, 100)
<class 'tuple'> <class 'tuple'>

In [ ]:
a=(1,2,3)
b=(4,5,6)
a=a+b
c

(1, 2, 3, 4, 5, 6)

In [ ]:
#Replace last value of tuples in the list
list1= [(10,20,30), (40,50,60), (70,80,90)]
print([t[:-1]+(100,) for t in list1])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
list1= [(10,20,30), (40,50,60), (70,80,90)]
list2=[]
for t in list1:
  t= t[0:]+(30,)
  list2.append(t)
print(list2)

[(10, 20, 30, 30), (40, 50, 60, 30), (70, 80, 90, 30)]

In [ ]:
# Creating empty set
numbers= set()
even= {2,4,6,8,10}
print(even)
odd= {1,3,5,7,9}
print(odd)

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}

In [ ]:
# Program for iterating over a set
for num in even:
  print(num)

2
4
6
8
10

In [ ]:
# Converting string to set
string1= "good morning India"
set1= set(string1)
print(set1)
print(set1[4]) # Indexing not possible in set

{' ', 'o', 'i', 'd', 'm', 'a', 'r', 'I', 'g', 'n'}

TypeError: ignored

In [ ]:
list1= list(string1)
print(list1)
tuple1= tuple(string1)
print(tuple1)

['g', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g', ' ', 'I', 'n', 'd', 'i', 'a']
('g', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g', ' ', 'I', 'n', 'd', 'i', 'a')

In [ ]:
emotions= set()
emotions.add("happy")
print(emotions)
emotions.update(["sad", "excited"])
print(emotions)

{'happy'}
{'happy', 'sad', 'excited'}

In [ ]:
color = set()
color.add("black")
print(color)
#Add multiple items
color.update(["Red", "Yellow"])
print(color)

{'black'}
{'black', 'Red', 'Yellow'}

In [ ]:
color1= color
print(color1)

{'black', 'Red', 'Yellow'}

In [ ]:
color.remove('black')
print(color)

{'Red', 'Yellow'}

In [ ]:
color1.discard("black")
print(color1)

{'Red', 'Yellow'}

In [ ]:
color.remove("white")
print(color)

KeyError: ignored

In [ ]:
color1.discard("white")
print(color1)

{'Red', 'Yellow'}

In [ ]:
# Union of two sets
even={2,4,6,8}
odd= {1,3,5,7}
numbers= even.union(odd)
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
numbers= even|odd
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Set intersection
a= {1,2,3}
b={1,2,3,4,5,6}
print(a & b)
print(a.intersection(b))

{1, 2, 3}
{1, 2, 3}

In [ ]:
# Set difference
print(a-b)

set()

In [ ]:
print(b-a)
print(b.difference(a))

{4, 5, 6}
{4, 5, 6}

In [ ]:
#Exclusivity
d= {1,2,3,9,10,11}
c= {1,2,3,4,5,6,7}
print(d^c)
print(d.symmetric_difference(c))

{4, 5, 6, 7, 9, 10, 11}
{4, 5, 6, 7, 9, 10, 11}

In [ ]:
a= {1,2,3}
c= {1,2,3,4,5,6,7}
print(c-a)

{4, 5, 6, 7}

In [ ]:
a= {1,2,3}
c= {1,2,3,4,5,6,7}
print(a&c)

{1, 2, 3}

In [ ]:
d= {1,2,3,9,10,11}
c= {1,2,3,4,5,6,7}
print(d^c)

{4, 5, 6, 7, 9, 10, 11}

In [ ]:
a= {1,2,3,4}
b= {1,2,3,4,5}
a.issubset(b)

True

In [ ]:
b.issubset(a)

False

In [ ]:
a.issuperset(b)

False

In [ ]:
b.issuperset(a)

True

In [ ]:
a<=b

True

In [ ]:
a>=b

False

In [ ]:
a<a

False

In [ ]:
a<=a

True

In [ ]:
# Creating a dictionary
dict1= {"India": 30, "Russia":35, "Britain": 25}
print(dict1)

{'India': 30, 'Russia': 35, 'Britain': 25}

In [ ]:
dict1["Russia"]

35

In [ ]:
dict1["Britain"]= 30
print(dict1)

{'India': 30, 'Russia': 35, 'Britain': 30}

In [ ]:
temp= {"Australia": 20}
dict1.update(temp)
print(dict1)

{'India': 30, 'Russia': 35, 'Britain': 30, 'Australia': 20}

In [ ]:
#Printing keys of the dictionary
for keys in dict1:
  print(keys)

India
Russia
Britain
Australia

In [ ]:
# Create a dictionary with characters as key and its frequency as value
string1= input("enter your string: ")
dict2= {}
for i in string1:
  count1= string1.count(i)
  temp= {i:count1}
  dict2.update(temp)
dict2

enter your string: hello all and a very good morning, welcome to this session of Python

{' ': 12,
 ',': 1,
 'P': 1,
 'a': 3,
 'c': 1,
 'd': 2,
 'e': 5,
 'f': 1,
 'g': 2,
 'h': 3,
 'i': 3,
 'l': 5,
 'm': 2,
 'n': 5,
 'o': 9,
 'r': 2,
 's': 4,
 't': 3,
 'v': 1,
 'w': 1,
 'y': 2}

In [ ]:
words= input("Enter your words:")

Enter your words:red black green black red orange

In [ ]:
print(words)
type(words)

red black green black red orange

str

In [ ]:
words= words.split(" ")
print(words)

['red', 'black', 'green', 'black', 'red', 'orange']

In [ ]:
#Counting frequency of words and storing in the dictionary
#words=[ 'red','red','black', 'white', 'green', 'black', 'orange', 'pink','red', 'white']
words= input("Enter your words:")

dict3= {}
for word in words:
  count1= words.count(word)
  temp= {word:count1}
  dict3.update(temp)
print(dict3)

{'red': 3, 'black': 2, 'white': 2, 'green': 1, 'orange': 1, 'pink': 1}

In [ ]:
# create a dictionay to store the number and its square for the given range of numbers
N= int(input("enter the range of your numbers: "))
squares={}
for i in range(N):
  squares[i]= i**2
print(squares)

enter the range of your numbers: 5
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
N= int(input("enter the range of your numbers: "))
squares= {i:i**2 for i in range(N)}
print(squares)

enter the range of your numbers: 6
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#